a(href="#").products__item 
    .products__item-image 
        img(src="images/product.jpg" width="332" height="200")
    .products__item-info 
        h3.products__item-title= title 
        p.products__item-text Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк
        p.products__item-price 
            span= price 
            | руб.
    .products__item-del 