block variables
//- //include ../mixin/mixin

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        title Тестовое задание | idaproject

        //- link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon")

    body
        div.wrap

            main.all-content
                block content

        //- script(type="text/javascript" src="js/main.js")